<% content_for :content do %>
<div id="template_container" class="container">
</div>
<% end %>
<% content_for :script do %>
<script>
$(function() {
		getArticle("U0V72AEAAE4netWJ","first-document");
	});
</script>
<% end %>