<% content_for :content do %>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-divider">
          <span>The <span class="de-em">Committee</span></span>
          <small>Our team of stars!</small>
        </h2>
        <div class="team team-grid margin-top-large">
          <div id="template_container" class="row" data-toggle="isotope-grid" data-isotope-options='{"layoutMode": "fitRows", "itemSelector": ".grid-item"}'>
             
					</div>
				</div>
      </div>
  </div>
</div>
<% end %>
<% content_for :script do %>
<script>
	$(function() {
		getResources(Prismic.Predicates.at("document.type", "person"));
	});
</script>
<% end %>