<% content_for :content do %>
<div class="container">
    <div id="template_container">
    </div>
</div>
<% end %>
<% content_for :script do %>
<script>
	$(function() {
		var q = Helpers.queryString['q'];
		getResources('[[:d = fulltext(document, "' + q + '")]]');
	});
</script>
<% end %>