<% content_for :content do %>
<div class="container">
	<div class="row">
       <!--main content-->
      <div class="col-md-12">
        <h2 class="title-divider">
          <span>Special thanks to our <span class="de-em">Sponsors</span></span>
        </h2>
      </div>
  </div>
	<div id="template_container">
	</div>
</div>
<% end %>
<% content_for :script do %>
<script>
$(function() {
		getResources(Prismic.Predicates.at("document.type", "organisation"), Prismic.Predicates.any("document.tags", ["Sponsor"]));
	});
</script>
<% end %>